<nav class="navbar navbar-dark bg-inverse">
    <div class="container">
        <a class="navbar-brand">Zeb's World</a>
        <ul class="nav navbar-nav" routerLinkActive="active">
            <li class="nav-item"><a class="nav-link" routerLink="home">Home</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="about">About</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/usMap">US Map</a></li>
        </ul>
    </div>
</nav>
<router-outlet></router-outlet>