<h1>Look at that map!</h1>
<!-- SVG Courtesy of Theshibboleth [GFDL (http://www.gnu.org/copyleft/fdl.html) or CC-BY-SA-3.0 (http://creativecommons.org/licenses/by-sa/3.0/)], via Wikimedia Commons-->
<svg xmlns="http://www.w3.org/2000/svg" width="959" height="593">
<title>Blank US states map</title>
<g id="outlines">
  <path *ngFor="let state of states" on-mouseover="showInfoWindow($event)" [ngClass]="{highlight : state.id == mousedOverState}" [attr.id]="state.id" [attr.fill]="mapGray" [attr.d]="state.d"/>
  <circle id="DC" [attr.fill]="mapGray" stroke="#FFFFFF" stroke-width="1.5" cx="801.3" cy="251.8" r="5" on-mouseover="showInfoWindow($event)" [ngClass]="{highlight : 'DC' == mousedOverState}"/>
</g>
<path id="frames" fill="none" stroke="#A9A9A9" stroke-width="2" d="M215,493v55l36,45 M0,425h147l68,68h85l54,54v46"/>
</svg>
<div id="clicked-state"></div>
<div id="infoWindow" [style.top.px]="topOffset" [style.left.px]="leftOffset">More Info</div>